/*////////////////////////////////////////////////////////////
/////////////////// Yellow #f1c40f ////////////////////////////
//////////////////////////////////////////////////////////*/

.wrapper a:hover, .vcard_btn:hover, .hz_freelance, .nav li.active a, .nav_icon li.active i,
.rotate_words span, .portfolio .vcard_btn:hover, .portfolio .vcard_btn:active,
.portfolio .vcard_btn.is-checked, .portfolio .vcard_btn.is-checked, .portfolio .vcard_btn:active, 
.comment-reply.button, .comment-edit-link, .comment-reply-link, .respond .button_contact{
   color: #f1c40f;
}

/*...............*/

.vcard_btn:hover, .portfolio .vcard_btn:hover, .portfolio .vcard_btn:active,
.portfolio .vcard_btn.is-checked, .portfolio .vcard_btn.is-checked, .portfolio .vcard_btn:active, 
.comment-reply.button, .comment-edit-link, .comment-reply-link, .respond .button_contact{
  border: 2px solid #f1c40f;
}

/*...............*/

.social_icon span a:hover{
  border: 1px solid #f1c40f;
}

/*...............*/

.blog_item_content, .conmments_block, .respond{
  border-top: 5px solid #f1c40f;
}

/*...............*/

.contact_table_block{
  border-left: 4px solid #f1c40f;
}
/*...............*/

blockquote{
	border-left: 5px solid #f1c40f;
}

/*...............*/

html, body, .message blockquote:before, .standard .blog_item_content:before, .post_slider .blog_item_content:before,
.audio_post .blog_item_content:before, .video_post .blog_item_content:before, .overlay, #loading{
	background-color: #f1c40f;
}

/*...............*/

.breaking_news .bn_title span{
	border-left-color: #f1c40f;
  	border-color: transparent transparent transparent #f1c40f; 
}